<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.property.management.mapper.CommunityMapper">

<!--添加信息-->
    <insert id="insert">
         insert into db_community(communityNum,name, address, communityArea, developerName,propertyName,greeningRate, buildingNum, roomNum,state,img,hiredate)
        values (#{communityNum},#{name}, #{address}, #{communityArea}, #{developerName}, #{propertyName}, #{greeningRate}, #{buildingNum}, #{roomNum}, #{state},#{img},#{hiredate})
    </insert>


    <select id="queryByName" resultType="com.property.management.entity.Community">
        select
        id,communityNum,name, address, communityArea, developerName,propertyName,greeningRate, buildingNum,
        roomNum,state,hiredate,img
        from db_community
        <trim prefix="where" prefixOverrides="and||or">
            <if test="communityName != null and communityName != ''">
                and name LIKE CONCAT(CONCAT('%',#{communityName},'%'))
            </if>
            <if test="startTime != null and startTime != ''">
                and hiredate &gt;= #{startTime}
            </if>
            <if test="endTime != null and endTime != ''">
                and hiredate &lt;= #{endTime}
            </if>
        </trim>
    </select>


<!--模糊查询-->
    <select id="queryByNameCount" resultType="java.lang.Long">
        select
        count(*)
        from db_community
        <trim prefix="where" prefixOverrides="and||or">
            <if test="communityName != null and communityName != ''">
                and name LIKE CONCAT(CONCAT('%',#{communityName},'%'))
            </if>
            <if test="startTime != null and startTime != ''">
                and hiredate &gt;= #{startTime}
            </if>
            <if test="endTime != null and endTime != ''">
                and hiredate &lt;= #{endTime}
            </if>
        </trim>
    </select>


<!--根据单个id进行查询-->
    <select id="queryById" resultType="com.property.management.entity.Community">
         select
          id,communityNum,name, address, communityArea, developerName,propertyName,greeningRate, buildingNum, roomNum,state,hiredate,img
        from db_community
        where id = #{id}
    </select>


<!--    根据id进行删除-->
    <delete id="deleteById">
          delete  from db_community where  id  in (${id})
    </delete>


<!--    批量进行删除-->
    <delete id="deleteCommunityByIds">
           delete FROM db_community where id in (${ids})
    </delete>


<!--进行更新-->
    <update id="updateCommunity">
        update db_community
        <trim prefix="set" suffixOverrides=",">
            <if test="communityNum!=null">communityNum=#{communityNum},</if>
            <if test="name!=null">name=#{name},</if>
            <if test="address!=null">address=#{address},</if>
            <if test="communityArea!=null">communityArea=#{communityArea},</if>
            <if test="developerName!=null">developerName=#{developerName},</if>
            <if test="propertyName!=null">propertyName=#{propertyName},</if>
            <if test="greeningRate!=null">greeningRate=#{greeningRate},</if>
            <if test="buildingNum!=null">buildingNum=#{buildingNum},</if>
            <if test="roomNum!=null">roomNum=#{roomNum},</if>
            <if test="state!=null">state=#{state},</if>
            <if test="img!=null">img=#{img},</if>
        </trim>
        where id = #{id}
    </update>


</mapper>